fastapi
uvicorn[standard]
sqlmodel
psycopg2-binary
python-dotenv
bcrypt>=4.0.1
python-multipart
alembic
huggingface_hub
PyJWT
cryptography
zstandard
pytest
requests
httpx
chromadb
sentence-transformers
transformers
tokenizers
torch
accelerate